@import '../vars';

* {
  margin: 0;
  padding: 0;
  font-family: $font;
  text-decoration: none;
  box-sizing: border-box;
  height: 100%;
}
/*------------------ helpers start ------------------*/

.table {
  display: table;
}

.table-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/*------------------ helpers end   ------------------*/

.wrapper {
  background-color: $background-color;
}

.menu {
  position: fixed;
  width: 15%;
}

.menu-title {
  padding-left: 20px;
  padding-right: 20px;
  display: table;
  width: 100%;
  height: $header-height;
  font-size: 24px;
  font-weight: 800;
  color: $font-color;
  cursor: pointer;

  &__label {
    vertical-align:middle;
    display:table-cell;
    text-align:justify;
  }

  &__img {
    vertical-align:middle;
    display:table-cell;
  }
}

.logo {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.container {
  background-color: $background-accent-color;
  border-radius: $border-radius-content 0 0 0;
  width: 85%;
  margin-left: auto;
}

.grid {
  display: grid;
  grid-template-rows: [header] $header-height [body] auto;
}

.content {
  grid-row: body;
  background-color: $content-color;
  border-radius: $border-radius-content 0 0 0;
}

.menu-list {

  &__item {
    padding-left: 20px;
    padding-right: 20px;
    display: table;
    height: 50px;
  }

  &__img {
    width: 60px;
    vertical-align:middle;
    display:table-cell;
    text-align: center;
  }

  &__img-inner {
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }

  &__label {
    vertical-align:middle;
    display:table-cell;
    text-align:justify;
    font-weight: bold;
    width: fit-content;
  }

  &__label:hover {
    border-bottom: $accent-color solid 2px;
    padding-left: 10px;
    cursor: pointer;
  }

  &__separator {
    vertical-align:middle;
    display:table-cell;
    text-align:justify;
    font-weight: bold;
    width: fit-content;

    color: $font-light-color;
    padding-left: 20px;
  }
}

.header {
  grid-row: header;
}

.header-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.header__search-container {
  grid-column: 1/4;
}

.header__search-container-inner {
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}

.header__user-container {
  grid-column: 5/6;
}

.search {
  height: 30px;
  background-color: $content-color;
  width: 100%;
  border: $border-color solid 1px;
  border-radius: 40px;
}