@import '../vars';

.content-inner {
  padding: 30px 0 30px $padding-left-content;
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.albums {
  grid-row: 1/2;
  grid-column: 1/-1;
}

.tracks {
  grid-row: 2/4;
  grid-column: 1/3;
}

.artists {
  grid-row: 2/4;
  grid-column: 3/4;
}

.dark {
  color: $font-color;
}

.light {
  color: $font-light-color;
}

.size-20 {
  font-size: 20px;
}

.size-14 {
  font-size: 14px;
}

.headline {
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  height: 30px;
  font-weight: bold;
}


.list {
  list-style-type: none;
  height: auto;

  &__album-item {
    display: inline-block;
    margin-right: 23px;
  }
}

.album-img {
  display: block;
  width: 160px;
  height: 160px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.album-name {
  display: block;
  font-weight: bold;
  margin-top: 5px;
}

.album-artist {
  display: block;
  margin-top: 5px;
}


.tracks-list {
  list-style-type: none;
  columns: 2;
  column-gap: 30px;

  &__item {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
  }
}

.track__avatar {
  display: inline-block;
}

.track__name__block {
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
}

.track__name {
  display: block;
  vertical-align: top;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
  height: auto;
}

.track__artist {
  display: block;
  vertical-align: top;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
  height: auto;
}

.track__duration-block {
  display: inline-block;
  float: right;
  padding-right: 20px;
}

.track__duration {
  font-weight: bold;
  height: auto;
  margin-top: 15px;
}

.track__like {
  display: inline-block;
  vertical-align: top;
  float: right;
}

.track__like_btn {
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.like-btn {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.track__avatar_img {
  border-radius: 3px;
  width: 50px;
  height: 50px;
}

.track__avatar_img:hover {

}

.clickable {
  cursor: pointer;
}