@import "./main/main";
@import "./login/login";
@import "./signup/signup";

* {
  margin: 0;
  padding: 0;
  font-family: $font;
  color: $font-color;
  text-decoration: none;
  box-sizing: border-box;
  height: 100%;
}
/*------------------ helpers start ------------------*/

.table {
  display: table;
}

.table-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.pr {
  padding-right: $padding-right-content;
}

/*------------------ helpers end   ------------------*/

.wrapper {
  height: calc(100% - 80px);
  background-color: $background-color;
}

.container {
  background-color: $background-accent-color;
  border-radius: $border-radius-content 0 0 0;
  width: 85%;
  margin-left: auto;
}

.grid {
  display: grid;
  grid-template-rows: [header] $header-height [body] auto;
}

.content {
  grid-row: body;
  background-color: $content-color;
  border-radius: $border-radius-content 0 0 0;
}

/*------------------ menu start   ------------------*/

.menu {
  position: fixed;
  width: 15%;
}

.menu-title {
  padding-left: 20px;
  padding-right: 20px;
  display: table;
  width: 100%;
  height: $header-height;
  font-size: 24px;
  font-weight: 800;
  color: $font-color;
  cursor: pointer;

  &__label {
    vertical-align:middle;
    display:table-cell;
    text-align:justify;
  }

  &__img {
    vertical-align:middle;
    display:table-cell;
  }
}

.logo {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.menu-list {

  &__item {
    padding-left: 20px;
    padding-right: 20px;
    display: table;
    height: 50px;
  }

  &__img {
    width: 60px;
    vertical-align:middle;
    display:table-cell;
    text-align: center;
  }

  &__img-inner {
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }

  &__label {
    vertical-align:middle;
    display:table-cell;
    text-align:justify;
    font-weight: bold;
    width: fit-content;
  }

  &__label:hover {
    border-bottom: $accent-color solid 2px;
    padding-left: 10px;
    cursor: pointer;
  }

  &__separator {
    vertical-align:middle;
    display:table-cell;
    text-align:justify;
    font-weight: bold;
    width: fit-content;

    color: $font-light-color;
    padding-left: 20px;
  }
}

/*------------------ menu end   ------------------*/

/*------------------ header start   ------------------*/
.header {
  grid-row: header;
}

.header-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.header__search-container {
  grid-column: 1/4;
}

.header__search-container-inner {
  padding-left: $padding-left-content;
  padding-right: 30px;
  width: 100%;
}

.search {
  height: 40px;
  background-color: $content-color;
  width: 100%;
  border: $border-color solid 1px;
  border-radius: 40px;

  &__img-container {
  }

  &__img {
    width: 20px;
    height: 20px;
  }

  &__input {
    outline: none;
    background-color: transparent;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    float: left;
    text-align: left;
    width: 100%;
    font-size: 16px;
  }
}

.header__user-container {
  grid-column: 4/6;
}

.header__user-container-inner {
  float: right;
  padding-right: $padding-right-content;
  display: table;
}

.user-nickname {
  font-size: 18px;
  vertical-align:middle;
  display:table-cell;
  text-align:justify;
  padding-right: 15px;
}

.user-logo {
  vertical-align:middle;
  display:table-cell;

  &__img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
  }
}

/*------------------ header end   ------------------*/

/*------------------ player start   ------------------*/

.player {
  height: 80px;
  position: sticky;
  bottom: 0;
  background-color: $player-color;
  border-top: $border-color solid 1px;
}

.player-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.player__info {
  grid-column: 1/2;
}

.player__info-inner {
  padding-left: 80px;
  display: table;
}

.player__track-logo {
  display: table-cell;
  vertical-align: middle;

  &__img {
    width: 60px;
    height: 60px;
    vertical-align: middle;
  }
}

.player__track {
  display: table;
}
.player__track-block {
  padding-left: 20px;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}

.track-name {
  font-weight: 800;
  font-size: 14px;
  color: $font-color;
  height: 20px;
}

.artist-name {
  color: $font-light-color;
  font-size: 14px;
  height: 20px;
}

.like {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.player__control {
  grid-column: 2/3;
  display: table;
}

.player__control-block {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.control-btn {
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
}

.size-s {
  width: 15px;
  height: 15px;
}

.size-m {
  width: 18px;
  height: 18px;
}

.size-l {
  width: 25px;
  height: 25px;
}

.player__volume {
  grid-column: 3/4;
  display: table;
}

.player__volume-block {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.controls {
  height: 40px;
}

.progress {
  height: 20px;
}

.primary-progress {
  width: 30%;
  background-color: $accent-color;
  height: 6px;
}

.secondary-progress {
  width: 100%;
  background-color: $progress-dark-color;
  height: 6px;
}

.volume-img {
  margin-right: 20px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.volume-w {
  width: 200px;
}

.volume-progress {
  vertical-align: middle;
  width: 100%;
  background-color: $progress-dark-color;
  height: 6px;
}

.volume-primary-progress {
  width: 30%;
  background-color: $accent-color;
  height: 6px;
}

/*------------------ header end   ------------------*/
